@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}

body {
  background-color: #121417;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 0 15px;
}

.container .card {
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  padding: 35px 30px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #252d37), to(rgba(37, 45, 55, 0.5)));
  background: linear-gradient(to bottom, #252d37 30%, rgba(37, 45, 55, 0.5));
}

.container .card .img-container {
  width: 45px;
  height: 45px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: rgba(124, 135, 152, 0.2);
}

.container .card .text-container h1 {
  color: #fff;
  font-weight: 700;
  padding: 25px 0 15px;
}

.container .card .text-container p {
  font-size: 0.95rem;
  line-height: 1.6;
  color: #7c8798;
}

.container .card .text-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.container .card .text-container ul li {
  width: 50px;
  height: 50px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: #959eac;
  background-color: rgba(124, 135, 152, 0.2);
  list-style: none;
  cursor: pointer;
  -webkit-transition: ease  0.4s;
  transition: ease  0.4s;
}

@media (max-width: 375px) {
  .container .card .text-container ul li {
    width: 45px;
    height: 45px;
  }
}

.container .card .text-container ul li:hover {
  color: #fff;
  background-color: #7c8798;
}

.container .card .text-container ul .active-li {
  color: #fff;
  background-color: #fb7413;
}

.container .card .text-container button {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  background-color: #fb7413;
  border-radius: 20px;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
  cursor: pointer;
}

.container .card .text-container button:hover {
  background-color: #fff;
  color: #fb7413;
}

.container .thanks-card {
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  padding: 35px 30px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #252d37), to(rgba(37, 45, 55, 0.5)));
  background: linear-gradient(to bottom, #252d37 30%, rgba(37, 45, 55, 0.5));
}

.container .thanks-card .img-container {
  text-align: center;
}

.container .thanks-card .text-container {
  text-align: center;
  color: #fff;
}

.container .thanks-card .text-container span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px auto;
  padding: 6px 16px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 20px;
  font-size: 0.9rem;
  color: rgba(251, 116, 19, 0.7);
  background-color: rgba(124, 135, 152, 0.1);
}

.container .thanks-card .text-container p {
  color: #7c8798;
  font-size: 0.95rem;
  margin: 10px 0 10px;
}

.attribution {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.attribution a {
  color: #fb7413;
}
/*# sourceMappingURL=style.css.map */